$font-primary: "Poppins", sans-serif;
$font-secondary: "Moderustic", sans-serif;

$black:black;
$light-white-bg:rgb(227, 227, 227);
$white:white;
$light-gray:rgb(142, 142, 142);
$nav-gray:rgba(212, 212, 212, 0.476);


$fs-p:.9rem;
$fs-h1:1.1rem;

$fw-light:400;
$fw-bold:700;